[project]
	description = a learning exercise
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/paulserridge
[access "refs/for/refs/*"]
	read = group user/paulserridge
	push = group user/paulserridge
	label-Code-Review = -2..+2 group user/paulserridge
	label-Verified = -1..+1 group user/paulserridge
	rebase = group user/paulserridge
	removeReviewer = group user/paulserridge
	submit = group user/paulserridge
[access "refs/heads/*"]
	read = group user/paulserridge
	create = group user/paulserridge
	push = +force group user/paulserridge
	pushMerge = group user/paulserridge
[access "refs/tags/*"]
	push = group user/paulserridge
	push = +force group user/paulserridge
